<!DOCTYPE html>
{% load staticfiles %}
<html>

    <head>
        <title>Rango</title>
    </head>

    <body>
        <h1>Welcome to Rango</h1>
        {% if categories %}
            <ul>
                {% for c in categories %}
                <li><a href="/rango/category/{{ c.slug }}">{{ c.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no categories present</strong>
        {% endif %}

        <a href="/rango/add_category/">Add a new category</a>
        <br />

        <a href="/rango/about/">About</a>
        <br />

    </body>
</html>
