{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Home Page{% endblock %}

{% block page_header %}
    {% if user.is_authenticated %}
        <h1>Hello {{ user.username }}...</h1>
    {% else %}
        <h1>Hello my friend :-)</h1>
    {% endif %}
{% endblock %}

{% block body_block %}

    <h3>Below are the top 10 categories on this site:</h3>
    {% if categories %}
        <ul>
            {% for c in categories %}
            <li><a href="/rango/category/{{ c.slug }}">{{ c.name }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <strong>There are no categories present</strong>
    {% endif %}

{% endblock %}
