{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Register{% endblock %}

{% block page_header %}
    <h1>Register with Rango</h1>
{% endblock %}

{% block body_block %}

    {% if registered %}
        <strong>Thank you for registering!</strong>
        <a href="{% url 'index' %}">Return to the homepage.</a><br />
    {% else %}

    <form id="user_form" role="form" method="post" action="{% url 'register' %}"
            enctype="multipart/form-data">

        {% csrf_token %}

        {{ user_form.as_p }}
        {{ profile_form.as_p }}

        <br />
        <button class="btn btn-primary" type="submit" name="submit">Register</button>
    </form>

    {% endif %}

{% endblock %}
